---
tile: Recent posts
paginate_path: "/blog/page:num"
---

<div class="recent-posts">
	<h1>Recent posts</h1>
	{% for post in paginator.posts %}

	<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

	{{ post.excerpt }}

	<a href="{{ post.url }}">Read more</a>

	{% endfor %}

	<!-- Pagination links -->
	<div class="pagination">
		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" class="previous">
			Previous
		</a>
		{% endif %}
		<span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" class="next">Next</a>
		{% endif %}
	</div>
</div>