h1, h2, h3, h4, {
  a {
    color: inherit;
  }
}

h1 {
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  border-bottom-color: #dddddd;
}

h2 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #dddddd;
  background: none;
}