:root {
  color-scheme: light dark;
}

h1, h2, h3, h4, h5, h6 {
  a {
    color: inherit;
  }
}

h1 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
}

h2 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #dddddd;
  background: none;
}

.small {
  font-size: 80%;
}

small {
  @extend .small;
}

@media (prefers-color-scheme: dark) {
  #main_content_wrap {
    filter: invert(100%);
    border: 0px;
  }

  img {
    filter: invert(100%);
  }
}