header {
  a {
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }

  .title {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: -1px;
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
    color: #ffffff;
  }

  .tagline {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  header .title {
    font-size: 28px;
  }
}

@media screen and (max-width: 320px) {
  header .title {
    font-size: 24px;
  }

  header .tagline {
    font-size: 21px;
  }
}

@media (prefers-color-scheme: dark) {
  #header_wrap {
    background: black;
  }
}