header {
  color: #ffffff;

  a {
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }

  .title {
    @extend h1;
    color: inherit;
    border-bottom: 0;
  }

  .tagline {
    @extend h2;
    color: inherit;
    border-bottom: 0;
  }
}


@media (prefers-color-scheme: dark) {
  #header_wrap {
    background: black;
  }
}