.post {
  .byline {
    @extend .small;
    font-style: italic;
  }

  .tags {
    display: block;
    @extend .small;
  }

  .tag {
    display: list-item;
    list-style-type: square;
    list-style-position: inside;
  }
}