//:root {
//  color-scheme: light dark;
//}

@use 'constants';

body {
  margin: 0;
  box-sizing: border-box;
  color: constants.$color;
  background: constants.$background;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  a {
    color: inherit;
    text-decoration-line: none;

    &:visited {
      color: inherit;
      text-decoration-line: none;
    }
  }
}

h1 {
  font-size: 36px;
  font-family: Arial, sans-serif;
  font-weight: 700;

  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
}

h2 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #dddddd;
  background: none;
}

.small {
  font-size: 80%;
}

small {
  @extend .small;
}

.content {
  max-width: constants.$desktop_max_width;
  margin: 0 auto;
}

#main_content_wrap {
  width: 100%;

  .inner {
    @extend .content;
    position: relative;
    padding-bottom: 100px;
  }
}

.admonitionblock.note{
  .icon {
    i::before {
      font-style: normal;
      font-size: 26px;
      min-width: 32px;
      height: 32px;
      content: "\2139\FE0E";
      color: constants.$background;
      background: #0F79D0;
      border-radius: 50%;
    }
    i::after {
      content: "Note";
      text-transform: uppercase;
      font-style: normal;
      font-weight: 800;
      padding: 5px;
    }
  }
}

//@media (prefers-color-scheme: dark) {
//  #main_content_wrap {
//    filter: invert(100%);
//    border: 0px;
//  }
//
//  img {
//    filter: invert(100%);
//  }
//}