@use "constants";

header {
  padding: 50px 10px 30px 10px;
  border: 0;
  margin: 0 auto;
  color: #ffffff;

  a {
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }

  .title {
    @extend h1;
    color: inherit;
    border-bottom: 0;
  }

  .tagline {
    @extend h2;
    color: inherit;
    border-bottom: 0;
  }
}

@debug scale-color(constants.$dark_background, $lightness: +10%);

#header_wrap {
  background: linear-gradient(to top, scale-color(constants.$dark_background, $lightness: +10%), constants.$dark_background);
  width: 100%;

  .inner {
    @extend .content;
  }
}