header {
  padding: 50px 10px 30px 10px;
  border: 0;
  margin: 0 auto;
  color: #ffffff;

  a {
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }

  .title {
    @extend h1;
    color: inherit;
    border-bottom: 0;
  }

  .tagline {
    @extend h2;
    color: inherit;
    border-bottom: 0;
  }
}

#header_wrap {
  background: linear-gradient(to top, #373737, #212121);
  width: 100%;

  .inner {
    max-width: 640px;
    margin: 0 auto;
  }
}

@media (prefers-color-scheme: dark) {
  #header_wrap {
    background: black;
  }
}